################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SIGO.Usuarios/v16
/src/SIGO.Usuarios.API/bin/Debug/netcoreapp3.1
/src/SIGO.Usuarios.API/obj
/src/SIGO.Usuarios.Application/obj
/src/SIGO.Usuarios.Data/obj
/src/SIGO.Usuarios.Entities/obj
/src/SIGO.Usuarios.Integrations/obj
/src/SIGO.Usuarios.Application/bin/Debug/netcoreapp3.1
/tests/SIGO.Usuarios.Test.Application/bin/Debug/netcoreapp3.1
/tests/SIGO.Usuarios.Test.Application/obj
/src/SIGO.Usuarios.Entities/bin/Debug/netcoreapp3.1
/.vs/SIGO.Usuarios/DesignTimeBuild
*.coverage
/src/SIGO.Usuarios.Data/bin/Debug/netcoreapp3.1
/src/SIGO.Usuarios.Integrations/bin/Debug/netcoreapp3.1
/src/SIGO.Usuarios.Security/bin/Debug/netcoreapp3.1
/src/SIGO.Usuarios.Security/obj
/.vs/SIGO.Usuarios/config
/tests/SIGO.Usuarios.Test.Api/bin/Debug/netcoreapp3.1
/tests/SIGO.Usuarios.Test.Api/obj
/tests/SIGO.Usuarios.Test.Security/bin/Debug/netcoreapp3.1
/tests/SIGO.Usuarios.Test.Security/obj
/out
/src/SIGO.Usuarios.API/bin/Release/netcoreapp3.1
/src/SIGO.Usuarios.Application/bin/Release/netcoreapp3.1
/src/SIGO.Usuarios.Data/bin/Release/netcoreapp3.1
/src/SIGO.Usuarios.Entities/bin/Release/netcoreapp3.1
/src/SIGO.Usuarios.Integrations/bin/Release/netcoreapp3.1
/src/SIGO.Usuarios.Security/bin/Release/netcoreapp3.1
